.relays {
	justify-content: space-evenly;
	align-items: center;
	min-height: 200px;
}

.relay {
	align-items: center;
	cursor: pointer;
}

.relay-img {
	height: 100px;
}

.gpio {
	background: darkorange;
	color: white;
	font-size: smaller;
	border-radius: 3px;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 20px 0px;
	height: 15px;
}
