.model-relays .relays {
	justify-content: space-evenly;
	align-items: center;
	min-height: 200px;
}

.model-relays .tile .relays {
	min-height: 120px;
}

.model-relays .relay {
	align-items: center;
}

.model-relays .relay-img {
	height: 100px;
}

.model-relays .tile .relay-img {
	height: 60px;
}

.model-relays .tile .relay-name {
	font-size: x-small;
}
