				<div class="divFlexRow relays">
					<div class="divFlexCol hidden relay" id="relay0">
						<img class="relay-img" id="relay0-img">
						<span class="relay-name" id="relay0-name"></span>
					</div>
					<div class="divFlexCol hidden relay" id="relay1">
						<img class="relay-img" id="relay1-img">
						<span class="relay-name" id="relay1-name"></span>
					</div>
					<div class="divFlexCol hidden relay" id="relay2">
						<img class="relay-img" id="relay2-img">
						<span class="relay-name" id="relay2-name"></span>
					</div>
					<div class="divFlexCol hidden relay" id="relay3">
						<img class="relay-img" id="relay3-img">
						<span class="relay-name" id="relay3-name"></span>
					</div>
					<div class="divFlexRow hidden" id="nodef">
						<span>?</span>
					</div>
				</div>
